<!-- page title -->
<% content_for :title, "All Organizations" %>

<!-- page container -->
<div class="container-fluid container-lg">

  <!-- filtering header -->
  <div class="row">
  <!-- Searchbar and Department Dropdown box -->
	  <form action="/organizations" name="search_form" method="get" class="card-body">
        <table style="width:97%" align="center">
          <p1 style="padding-left: 1.5%">Search by Keyword or Department</p1>
			<th width="60%" style="padding-right: 10px;"><input type="text" id="query" name="query" style="font-size: 10pt; height: 95%; margin: 0%" placeholder="Keyword" class="form-control" size="62%%" autocomplete="on" ></th>
        <th width="30%" style="padding-left: 10px; padding-right: 10px"><% select_list = Organization.departments.keys.map { |w| [w.titleize, w] }.insert(0,"") %>
          <%= select_tag :department, options_for_select(select_list, params[:department]), class: "form-control input-sm" %></th>
          <th width="10%" style="padding-left: 10px"><div align="right"><button type="submit" class="btn btn-primary" style="width: 100%">Search</button></div></th>
		  </tr>
	    </table>
      </form>

  </div>
  
  <!-- line break to help format page -->
  <br>
  
  <!-- main container for job postings -->
    <div class="card">
      <div class="card-body">
        <% if @organizations.any? %>
        <ul class="list-group">
          <% @organizations.each do |organization| %>
            <%= render 'organization_list_item', organization: organization, status: true, role: true %>
          <% end %>
        </ul>
        <% else %>
          <br /><br />
          <p class="lead text-center">Cannot find any organizations.</p>
        <% end %>
        <!-- show the paginator if needed -->
        <% if @organizations.count >= 10 %>
          <center>
              <%= will_paginate @organizations, renderer: BootstrapPagination::Rails, page_links: false %><br />
          </center>
        <% end %>
      </div>
  </div>
</div>
